body {
    background: linear-gradient(to left, black, rgb(40, 1, 87));
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

footer {
    text-align: center;
    padding: 15px;
    position: fixed;
    color: antiquewhite;
    bottom: 0;
    width: 100%;
    margin-right: center;
}

#title, .UIPanel, .UIList {
    text-align: center;
    background-color: rgba(25, 19, 36, 0.5);
    border: 3px solid rgba(25, 19, 36, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 10px;
    width: 75rem;
    margin-top: 1rem;
    margin-right: center;
}

h1, h3, p, a, h2, input, button{
    color: aliceblue;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
   background: rgba(39, 12, 90, 0.3);
   border-radius: 20px;
   border: 2px solid rgba(39, 12, 90, 0.4);
}
::-webkit-scrollbar-thumb {
   background-color: rgba(39, 12, 90, 0.4);
   border-radius: 20px;
   border: 2px solid rgba(39, 12, 90, 0.5);
}
::-webkit-scrollbar-thumb:hover {
   background-color: rgba(33, 8, 81, 0.4);
   border-radius: 20px;
   border: 2px solid rgba(33, 8, 81, 0.5);
}

.UIList {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    background-color: rgba(39, 12, 90, 0.4);
    right: center;
    top: 1rem;
}

.UIPanel{
    background-color: rgba(39, 12, 90, 0.2);
    z-index: 10;
}

input {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    border: 2px solid rgba(33, 8, 81, 0.4);
    background-color: rgba(44, 6, 114, 0.5);
}

.UIImg {
    margin: 1rem;
    z-index: 1;
}

.UIButton {
    text-align: center;
    background-color: rgba(34, 22, 57, 0.5);
    border: 3px solid rgba(25, 19, 36, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 10px;
    width: 10rem;
    margin-top: 1rem;
    margin-right: center;    
}

.UIButton:hover {
    padding: 15px;
    background-color: rgba(16, 11, 26, 0.5);
}